{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock title%}
{% block extrahead %}
{% endblock extrahead %}
{% block content %}


<body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <div class="container-fluid pt-4 bg-transparent">
        <div class="row">
            <div class="col-md-5">


                <h1 class="mx-5 mb-5 mt-3 text-primary-emphasis">Welcome, Team Member! <i
                        class="fa-solid fa-handshake"></i></h1>
                <div class="container mx-5">
                    <form>
                        <div class="col-sm-6">
                            <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                                <h6 class="text-primary-emphasis fw-bold">Title <i
                                        class="fa-solid fa-bars-progress"></i></h6>
                                <input type="text" class="form-control" placeholder="Title of the task"
                                    aria-label="title">
                            </div>
                            <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                                <h6 class="text-primary-emphasis fw-bold">Description <i class="fa-solid fa-pen"></i>
                                </h6>
                                <input type="text" class="form-control" placeholder="Describe the task"
                                    aria-label="title">
                            </div>
                            <div class="row">
                                <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                                    <div class="col-md-6 form-group mt-2">
                                        <h6 for="exampleFormControlDate1" class="text-primary-emphasis fw-bold">Start
                                            Date <i class="fa-regular fa-calendar-days"></i></h6>
                                        <input type="date" class="form-control" placeholder="Start date"
                                            id="exampleFormControlDate1">
                                    </div>
                                </div>
                                <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                                    <div class="col-md-6 form-group mt-2">
                                        <h6 for="exampleFormControlDate2" class="text-primary-emphasis fw-bold">End Date
                                            <i class="fa-regular fa-calendar-days" style="color: #131416;"></i></h6>
                                        <input type="date" class="form-control" placeholder="Start date"
                                            id="exampleFormControlDate2">
                                    </div>

                                </div>
                            </div>

                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</body>







{% endblock content %}