{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title%}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}

<style>
  .container-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .select {
    display: flex;
  }

  .select-items{
    background-color: #22577a;
    border-radius: 7px;
    border: none;
    color: white;
    width: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: center;
  }

  .blur-rule {
  height: 1px;
  width: 100%;
  background-color: #dedede;
  margin: 20px 0;
  display: flex;
  
  -webkit-box-shadow: 0 0 1px 0 #666;
  -moz-box-shadow: 0 0 1px 0 #666;
  box-shadow: 0 0 1px 0 #666;
}
</style>

<div class="container mt-5">

  <!-- Heading Content Here -->
  <h1 class="mb-5 text-center">Create New Team</h1>
  <!-- <button type="button" class="btn btn-success">Assign New Team </button> -->


  <!-- Contents for the Dropdown Box for number of Members -->
  <div class="container-dropdown mb-4 d-flex">   
    <div class="select">
      <h5 class="mt-1 mx-2">Number of members <i class="fa-solid fa-caret-right pt-1"></i></h5>
          <select class="select-items">
            <option value="*" disabled selected>Please select...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

          </select>
    </div>
  </div>
  <div class="blur-rule"></div>
<h4 class="mt-5">Select Team members <i class="fa-solid fa-caret-right pt-1"></i></h4>

  <div class="container-table mt-3 mb-4">
    <table id="myTable" class="display">
      <thead>
        <tr>
          <th>Member Name</th>
          <th>Add to Team</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>M1</td>
          <td><input type="checkbox" ></td>
        </tr>
        <tr>
          <td>M2</td>
          <td><input type="checkbox" ></td>
        </tr>
        <tr>
          <td>M3</td>
          <td><input type="checkbox" ></td>
        </tr>
        <tr>
          <td>M4</td>
          <td><input type="checkbox" ></td>
        </tr>
        <tr>
          <td>M5</td>
          <td><input type="checkbox" ></td>
        </tr>
        <tr>
          <td>M6</td>
          <td><input type="checkbox" ></td>
        </tr>
      
      </tbody>
    </table>
  </div>

  <div class="container-dropdown mb-3 d-flex">   
    <div class="select">
      <h5 class="mt-1 mx-2">Assign Team Lead <i class="fa-solid fa-caret-right pt-1"></i></h5>
          <select class="select-items">
            <option value="*" disabled selected>Please select...</option>
            <option value="1">M1</option>
            <option value="2">M2</option>
            <option value="3">M3</option>
            <option value="4">M4</option>
            <option value="5">M5</option>

          </select>
    </div>
  </div>
  <div class="blur-rule"></div>
  <h4 class="mt-5">Project Details <i class="fa-solid fa-caret-right pt-1"></i></h4>

  <form>

    <div class="form-group mt-2">
        <label for="exampleFormControlInput2">Project Title</label>
        <input type="text"  class="form-control" id="exampleFormControlInput2"
            placeholder="Title">

    </div>
    <div class="form-group mt-2">
        <label for="exampleFormControlTextarea1">Project Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Description"></textarea>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 form-group mt-2">
            <label for="exampleFormControlDate1">Start Date</label>
        <input type="date" class="form-control" placeholder="Start date" id="exampleFormControlDate1">
        </div>
        <div class="col-md-6 form-group mt-2">
            <label for="exampleFormControlDate2">End Date</label>
        <input type="date" class="form-control" placeholder="Start date" id="exampleFormControlDate2">
        </div>
    </div>

</form>


  


  {% endblock content %}