{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title%}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}

<style>
  body {
	background: linear-gradient(-45deg, #ecfee8, #c2efeb, #d5e7d1, #b4ceee);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  .container-project {
    background: none;

  }

  .select {
    display: flex;
  }



  .select-items {
    background-color: #22577a;
    border-radius: 7px;
    border: none;
    color: white;
    width: 150px;
    display: flex;
    justify-content: center;
  }
</style>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb p-2 mx-2  rounded justify-content-center">
    <li class="breadcrumb-item"><a class="text-black" href="{% url 'manager-home' %}"> Home</a></li>
    <li class="breadcrumb-item text-success" aria-current="page"><i>Teams</i></div>
    </li>
  </ol>
</nav>

<div class="container mt-5" style="width: 1500px;">

  <!-- Heading Content Here -->
  <h1 class="mb-2 text-center">Team Creation</h1> 


<!-- HTML block to Select Team Members -->

  <div class="container-table p-3 rounded mt-3 mb-4 border border-black">
    <h4 class="mt-2 mb-4">Select Team members <i class="fa-solid fa-caret-right pt-1"></i></h4>
    <div class="select mt-5 mb-5">
      <h5 class="mt-1 mx-2">Number of members <i class="fa-solid fa-caret-right pt-1" required></i></h5>
      <select class="select-items" id="memberCount" name="member_count">
        <option value="*" disabled selected>Please select...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
  
      </select>
  
    </div>
    <table id="myTable" class="display p-1 rounded border">
      <thead>
        <tr>
          <th>Member Name</th>
          <th>Add to Team</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td><input type="checkbox" name="select_members" class="team-member-checkbox"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="container-project rounded shadow-sm p-3 mb-4 border border-black">
    <form method="post">
      {% csrf_token %}
      <h4 class="mt-2">Project Details <i class="fa-solid fa-caret-right pt-1"></i></h4>
      <div class="form-group  mt-3">
        

<div class="select mt-5 mb-5">
  <h5 class="mt-1 mx-2">Assign Team Lead <i class="fa-solid fa-caret-right pt-1"></i></h5>
  <select class="select-items">
    <option value="*" disabled selected>Please select...</option>
    {% for user in users %}
      <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}

    </select>
  </div>



  <div class="container-project rounded shadow-sm p-3 mb-4 border border-black">
    <form method="post">
      <h4 class="mt-2">Project Details <i class="fa-solid fa-caret-right pt-1"></i></h4>
      <div class="form-group  mt-3">
        <label for="exampleFormControlInput2" class="mb-1 fw-bold">Project Title <i
            class="fa-solid fa-bookmark"></i></label>
        <input type="text" class="form-control border  border-secondary" id="exampleFormControlInput2"
          placeholder="Title" name="proj_name">

      </div>
      <div class="form-group mt-2">
        <label for="exampleFormControlTextarea1" class="mb-1 fw-bold">Project Description <i
            class="fa-solid fa-clipboard"></i></label>
        <textarea class="form-control mb-1 border border-secondary" id="exampleFormControlTextarea1" rows="5"
          placeholder="Description" name="proj_desc"></textarea>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 form-group mt-2">
          <label for="exampleFormControlDate1" class="mb-1 fw-bold">Start Date <i
              class="fa-regular fa-calendar-days"></i></label>
          <input type="date" class="form-control border border-secondary" placeholder="Start date"
            id="examleFormControlDate1" name="proj_start">
        </div>
        <div class="col-md-6 form-group mt-2">
          <label for="exampleFormControlDate2" class="mb-1 fw-bold">End Date <i
              class="fa-regular fa-calendar-days"></i></label>
          <input type="date" class="form-control border border-secondary" placeholder="Start date"
            id="exampleFormControlDate2" name="proj_end">
        </div>
      </div>



  
</div>


<!-- Script for Checkbox based on Number of Members: 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#memberCount').change(function () {
      var selectedCount = parseInt($(this).val());
      var $checkboxes = $('#myTable tbody .team-member-checkbox');

      if (selectedCount > 0) {
        $checkboxes.prop('disabled', false);
        $checkboxes.prop('checked', false);
      } else {
        $checkboxes.prop('disabled', true);
        $checkboxes.prop('checked', false);
      }
    });

    $('#myTable tbody .team-member-checkbox').change(function () {
      var selectedCount = parseInt($('#memberCount').val());
      var $checkedCheckboxes = $('#myTable tbody .team-member-checkbox:checked');
      var $uncheckedCheckboxes = $('#myTable tbody .team-member-checkbox:not(:checked)');

      if ($checkedCheckboxes.length >= selectedCount) {
        $uncheckedCheckboxes.prop('disabled', true);
      } else {
        $uncheckedCheckboxes.prop('disabled', false);
      }
    });
  });
</script> -->

{% endblock content %}