{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title%}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<style>
body {
	background: linear-gradient(-45deg, #ecfee8, #c2efeb, #a7c4a0, #7392b7);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

</style>
<div class="container-fluid p-3 bg-transparent">
  <div class="row">
    <div class="col-md-4 border-end">
      <h1 class="mx-5 mt-5">File Upload</h1>
      <form method="post" action="{% url 'process_uploaded_csv' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="file" class="form-label mx-5">Input the file</label>
        <input class="form-control mx-5" type="file" name="file" id="file" />
        <br>
        <button class="mx-5 btn btn-info" type="submit">Upload</button>
      </form>
    </div>


    <div class="col-md-8">
      <h1 class=" mx-5 mt-5">New User</h1>
      <div class="form-group mx-5 mt-5">

        <form method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <form>
            <div class="shadow-lg p-4 mb-5 bg-body rounded">
              <div class="row">
                <div class="col-md-6">

                  <h6 class="text-primary-emphasis fw-bold">Username <i class="fa-solid fa-bars-progress"></i></h6>
                  <input type="text" class="form-control" placeholder="Username" aria-label="title" name="username"
                    required>

                  <h6 class="text-primary-emphasis fw-bold mt-4">Name <i class="fa-solid fa-bars-progress"></i></h6>
                  <input type="text" class="form-control" placeholder="Full Name" aria-label="title" name="name"
                    required>

                  <h6 class="text-primary-emphasis fw-bold mt-4">Role <i class="fa-solid fa-user"></i></h6>
                  <input type="text" class="form-control" placeholder="Role" aria-label="title" name="role " required>

                </div>

                <div class="col-md-6">

                  <h6 class="text-primary-emphasis fw-bold">Email <i class="fa-regular fa-envelope"></i></h6>
                  <input type="text" class="form-control" placeholder="Email Id" aria-label="title" name="email"
                    required>

                  <h6 class="text-primary-emphasis fw-bold  mt-4">Password <i class="fa-solid fa-key"></i></h6>
                  <input type="text" class="form-control" placeholder="Password" aria-label="title" name="password"
                    required>

                  <h6 class="text-primary-emphasis fw-bold  mt-4">Confirm Password <i class="fa-solid fa-check-double"></i></h6>
                  <input type="text" class="form-control" placeholder="Confirm the password" aria-label="title"
                    name="confirm_password" required>
                </div>
              </div>

              <button class="mx-1 btn btn-info mt-5" type="submit">Submit Details</button>
            </div>
          </form>
      </div>
    </div>
    <div class="col-md-12">
      {% if messages %}
      {% for message in messages %}
      <div
        class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger  {% endif %} alert-dismissible fade show"
        data-notify="container" data-timeout="3000" role="alert">
        {{message}}
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}