  <!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LUD Tracker | {% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">
    <script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
    <script src="https://code.highcharts.com/gantt/modules/accessibility.js"></script>
    {% block extrahead %}{% endblock extrahead %}
  </head>



  <body style="background-color: #c7f9cc;">

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid" style="min-height: 65px; width:97%; ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand mb-0 mb-md-1" href="#">ALJONI</a>
        </div>
     </div>  
    </nav>
    {% block content %}
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
    crossorigin="anonymous"></script>

  </body>

  
  <style>
  
    .navbar {
    min-height: 110px;
    background-color : #38a3a5
    }
  
    .colbor_pad {
      border: 2px solid black; /* Add desired border properties */
      padding: 10px; /* Add padding for better appearance */
    }
   
    .custom-input::placeholder {
    color: white; /* Use your desired color code */
  }

  </style>
 
</html>
 