<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LUD Tracker | {% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">
    {% block extrahead %}{% endblock extrahead %}
  </head>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid rounded" style="min-height: 65px; width:97%; ">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand mb-0 mb-md-1" href="#">Navbar</a>
      </div>
    </div>
  </nav>
  
  <body>
    {% block content %}
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
    crossorigin="anonymous"></script>
  </body>
</html>

<style>

  .navbar {
  min-height: 110px;
  background:linear-gradient(90deg, #9cdf94 0%, #7bc96f 43%, #69c75f 100%) ;
  }

    .container-fluid {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
      }




</style>

