{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title%}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}

<style>
    .card{
    border: 40px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

</style>





<div class="container-fluid pt-5">
  <div class="row mt-5">
      <div class="col-md-9">
          <div class="container">
              <div class="row gx-3">
                  <div class="col">
                      <div class="p-3">
                          <h3>Task Ready</h3>
                      </div>
                      <div class="card mt-3" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title">task 1</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary">member name1</h6>
                              <p class="card-text">nvgjdfsikjgh dkjgnhdfgkjnfkjxgfzxlkgdsxlkjgdfglknjdslk</p>
                              <i class="fas fa-flag"></i> 22 Aug
                          </div>
                      </div>
                      <div class="card mt-3" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title">Task 2</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary">member name2</h6>
                              <p class="card-text">jhvkjdfgdkjgndkjgndkjgnsglkjasnglkjhfguieghuiew</p>
                              <i class="fas fa-flag"></i> 22 Aug
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="p-3">
                          <h3>In progress</h3>
                      </div>
                      <div class="card mt-3" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title">task 1</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary">member name1</h6>
                              <p class="card-text">nvgjdfsikjgh dkjgnhdfgkjnfkjxgfzxlkgdsxlkjgdfglknjdslk</p>
                              <i class="fas fa-flag"></i> 22 Aug
                          </div>
                      </div>
                      <div class="card mt-3" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title">task 1</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary">member name1</h6>
                              <p class="card-text">nvgjdfsikjgh dkjgnhdfgkjnfkjxgfzxlkgdsxlkjgdfglknjdslk</p>
                              <i class="fas fa-flag"></i> 22 Aug
                          </div>
                      </div>
                      <div class="card mt-3" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title">task 1</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary">member name1</h6>
                              <p class="card-text">nvgjdfsikjgh dkjgnhdfgkjnfkjxgfzxlkgdsxlkjgdfglknjdslk</p>
                              <i class="fas fa-flag"></i> 22 Aug
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="p-3">
                          <h3>In review</h3>
                      </div>
                      <div class="card mt-3" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title">task 1</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary">member name1</h6>
                              <p class="card-text">nvgjdfsikjgh dkjgnhdfgkjnfkjxgfzxlkgdsxlkjgdfglknjdslk</p>
                              <i class="fas fa-flag"></i> 22 Aug
                          </div>
                      </div>
                      <div class="card mt-3" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title">task 1</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary">member name1</h6>
                              <p class="card-text">nvgjdfsikjgh dkjgnhdfgkjnfkjxgfzxlkgdsxlkjgdfglknjdslk</p>
                              <i class="fas fa-flag"></i> 22 Aug
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="p-3">
                          <h3>Done</h3>
                      </div>
                      <div class="card mt-3" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title">task 1</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary">member name1</h6>
                              <p class="card-text">nvgjdfsikjgh dkjgnhdfgkjnfkjxgfzxlkgdsxlkjgdfglknjdslk</p>
                              <i class="fas fa-flag"></i> 22 Aug
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
{% endblock content %}


